html
{
    background-color: #ffd080;
    width: 1253px;
    border: rgb(219, 79, 23) 5px solid;
}
body
{
    font-family: cursive;
    font-size: medium;
}
table.tabla
{
    font-size: 90%;
    color: rgb(19, 19, 19);
    width: 410px;
    background-color: #f7c550;
    border-color: rgb(226, 125, 8);
}
h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(245, 93, 37, 0.854);
    text-align: center;
    letter-spacing: .2em;
}
p
{
    text-align: center;
    width: 410px;
    border: rgb(211, 71, 5) 2px solid;
    margin: auto;
}
p.nombre
{
    font-family: cursive;
    font-size: small;
}